# Flask Settings
FLASK_APP=wsgi.py
FLASK_DEBUG=1
SECRET_KEY=replace-with-a-very-secret-string

# Database Settings
# For local dev: sqlite:///instance/farm_data.db
# For Docker: sqlite:////app/instance/farm_data.db
DATABASE_URL=sqlite:///instance/farm_data.db

# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=YourSecurePassword
